<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car Details</title>
    <style>
      body {
        background-color: #024059;
        color: #2bf0fb;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        text-align: center;
        font-size: large;
      }

      a {
        color: #980bbf;
        text-decoration: none;
        transition: color 0.3s;
      }

      a:hover {
        color: #f2e307;
      }
    </style>
  </head>

  <body>
    <h1>Car Details</h1>

    <ul>
      <li>Make: <%= car.make %></li>
      <li>Model: <%= car.model %></li>
      <li>Year: <%= car.year %></li>
      <li>VIN: <%= car.vin %></li>
      <li>Country: <%= car.country %></li>
      <li>
        Mileage: <%= car.mileage %>
        <form action="/<%= car.car_id %>/update" method="POST">
          <label for="newMileage">New Mileage:</label>
          <input type="number" name="newMileage" required />
          <button type="submit">Update Mileage</button>
        </form>
      </li>
    </ul>
    <form action="/delete" method="POST">
      <input type="hidden" name="carID" value="<%= car.car_id %>" />
      <button type="submit">Delete Car</button>
    </form>
    <a href="/"> Back to Cars</a>
  </body>
</html>
